div(ng-controller="mvNavBarController")
	a.btn.btn-primary(ng-click="onAboutClick()") About	
	a.btn.btn-primary(ng-show="userIdentity.isUserAuthenticated()", ng-click="signout()")  {{userIdentity.user.firstName + " " + userIdentity.user.lastName}} Logout	